openapi: "3.1.0"
info:
  title: Lebellion Management API
  description: |
    Checklist & KPI inspection system for restaurant chains.

    ## Phase 1 — authentication & roles
    - Organization registration by a Founder.
    - Founder / Branch Manager login by email OR phone + password.
    - Employee / Branch Manager join by a one-time, TTL-limited invite code bound to an
      organization and a branch (and a unit for employees).
    - JWT access token (~15 min) + rotating refresh token with theft detection.

    ## Versioning & client gating
    - All endpoints live under `/api/v1` (except `/health`, which is unversioned for infra
      monitoring and is exempt from client-version gating).
    - Every `/api/v1` request MUST send the `X-App-Version` header (semver of the client app).
      Requests from an unsupported/too-old client are rejected with `426 UPGRADE_REQUIRED`
      before any business logic runs. The minimum supported version is a server config value.

    ## Security notes reflected in this contract
    - Passwords are never returned or logged. Minimum length is 10 characters.
    - **Registration gating:** `POST /auth/register` is disabled by default and controlled by
      the `REGISTRATION_ENABLED` env flag; self-serve onboarding is opened deliberately. When
      disabled it returns `403 REGISTRATION_DISABLED`.
    - Access tokens are short-lived JWTs; refresh tokens are opaque, high-entropy strings.
      The server stores only a hash of each refresh token.
    - **Immediate access revocation:** every access token carries a `tokenVersion` claim that is
      checked against the user row on each request. Deactivating a user (or otherwise bumping
      their `tokenVersion`) invalidates all outstanding access tokens at once, so a deactivated
      user is locked out immediately rather than up to ~15 minutes later.
    - **Refresh rotation + theft detection:** refresh tokens of one login form a *session
      family* (a chain). On refresh the presented token is revoked and a new one is issued.
      To tolerate offline retries and flaky networks there is a short grace window (~30s):
      re-presenting the *immediately previous* (just-rotated) token within that window still
      succeeds and returns a fresh valid token instead of failing, so honest retries never log
      people out. (The identical successor is not returned — only token hashes are stored.)
      Re-presenting a rotated/revoked token OUTSIDE the grace window (or any older token in the
      chain) is treated as theft: the ENTIRE session family is revoked and the call returns
      `401 INVALID_TOKEN`.
    - **Invite codes:** one-time and expiring. The server stores only an HMAC-SHA256 of the
      code, keyed by a server secret from env (`INVITE_HMAC_SECRET`) — never the raw code or a
      bare unkeyed hash. Codes have
      >= 40 bits of entropy and use an unambiguous alphabet (no `0/O/1/l/I`) so they are hard
      to brute-force and safe to read aloud. The plaintext code is shown exactly once, at
      create or reissue time. A used/expired/unknown code returns an identical
      `401 INVALID_CREDENTIALS` (no enumeration or brute-force signal).
    - `POST /auth/login` and `POST /auth/join` return an identical `401 INVALID_CREDENTIALS`
      body whether the principal/code does not exist or the secret is wrong.
    - **Rate limiting:** `login`, `join` and `register` are rate-limited; exceeding the limit
      returns `429 RATE_LIMITED` with `Retry-After`.
    - **Client IP behind Caddy:** in production the app sits behind Caddy, which appends the
      real client IP to `X-Forwarded-For`. The backend has a configurable list of trusted
      proxy CIDRs (env var `TRUSTED_PROXIES`). The rate-limit key is the client IP taken as
      the right-most `X-Forwarded-For` entry that is NOT in the trusted set; if the direct
      socket peer is not a trusted proxy, `X-Forwarded-For` is ignored entirely and the socket
      IP is used. This prevents a client from spoofing `X-Forwarded-For` to evade the limiter.
      Tested by: (a) request with a trusted-proxy peer + spoofed `X-Forwarded-For` buckets by
      the forwarded IP; (b) request with an untrusted peer + spoofed `X-Forwarded-For` buckets
      by the socket IP (spoof ignored); (c) two different forwarded IPs get independent buckets.
    - All secrets (JWT signing key, `INVITE_HMAC_SECRET`, trusted proxies, etc.) come from
      environment variables only.
    - Phone numbers are normalized to E.164 (e.g. `+998901234567`) before storage/lookup.

    ## Known limitations (v1)
    - No proof of ownership of a phone or email (no OTP / verification link). A Founder can
      register with any email/phone; this is accepted risk for v1 and planned for a later phase.
    - Exactly one FOUNDER per organization; there is no transfer of ownership to another user.
    - No password reset in v1 (neither self-service nor admin-initiated).
  version: "0.4.0"
  contact:
    name: Lebellion
  license:
    name: Proprietary
    url: https://lebellion.uz/license

servers:
  - url: https://api.lebellion.uz
    description: Production (Uzbekistan)
  - url: http://127.0.0.1:8080
    description: Local development

tags:
  - name: System
    description: Service health
  - name: Auth
    description: Registration, login, token lifecycle
  - name: Invites
    description: Invite codes (issued by Founder or Branch Manager)
  - name: Organization
    description: Branches and units (org-scoped)
  - name: Employees
    description: Employee management (org / branch scoped)
  - name: Me
    description: Current authenticated principal

paths:
  /health:
    get:
      summary: Health check
      description: Unversioned; exempt from X-App-Version gating. Used by infra monitoring.
      operationId: getHealth
      tags:
        - System
      security: []
      responses:
        "200":
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "503":
          description: Service is not ready (e.g. database unreachable)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/v1/auth/register:
    parameters:
      - $ref: "#/components/parameters/XAppVersion"
      - $ref: "#/components/parameters/XDeviceId"
    post:
      summary: Register a new organization and its Founder
      description: |
        Creates an organization and its first user with role FOUNDER in one call.
        Exactly one of `email` or `phone` must be provided; both are allowed.
        `phone` is normalized to E.164. Returns an access/refresh token pair.

        Disabled by default: enabled only when `REGISTRATION_ENABLED=true`. When disabled,
        returns `403 REGISTRATION_DISABLED`.
      operationId: register
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterRequest"
      responses:
        "201":
          description: Organization and Founder created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          description: Self-serve registration is disabled on this server.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                code: REGISTRATION_DISABLED
                message: Registration is disabled
        "409":
          description: An organization with this name, or a user with this email/phone, already exists.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "426":
          $ref: "#/components/responses/UpgradeRequired"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/v1/auth/login:
    parameters:
      - $ref: "#/components/parameters/XAppVersion"
      - $ref: "#/components/parameters/XDeviceId"
    post:
      summary: Login by email or phone + password (Founder / Branch Manager)
      description: |
        `login` accepts either an email or an E.164 phone number.
        On unknown principal OR wrong password the response is an identical
        `401 INVALID_CREDENTIALS` to prevent account enumeration.
      operationId: login
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
      responses:
        "200":
          description: Authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "426":
          $ref: "#/components/responses/UpgradeRequired"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/v1/auth/join:
    parameters:
      - $ref: "#/components/parameters/XAppVersion"
      - $ref: "#/components/parameters/XDeviceId"
    post:
      summary: Employee / Branch Manager joins via a one-time invite code
      description: |
        Consumes an invite code. The code determines the organization, branch, unit and role.
        A code is single-use and expires; a used, expired or unknown code returns an
        identical `401 INVALID_CREDENTIALS` (no code enumeration or brute-force signal).

        Exception: re-submitting an already-USED code from the SAME device that consumed it returns a
        deterministic `409 INVITE_ALREADY_USED` (safe — only that device could match), not 401.
      operationId: join
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JoinRequest"
      responses:
        "201":
          description: User created from invite and authenticated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "409":
          description: The invite was already used by this same device.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                code: INVITE_ALREADY_USED
                message: This invite code has already been used
        "426":
          $ref: "#/components/responses/UpgradeRequired"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/v1/auth/refresh:
    parameters:
      - $ref: "#/components/parameters/XAppVersion"
      - $ref: "#/components/parameters/XDeviceId"
    post:
      summary: Rotate the refresh token and issue a new access token
      description: |
        Verifies the presented refresh token against its stored hash. On success the old token
        is revoked and a new access/refresh pair is returned (rotation).

        Grace window (~30s): re-presenting the immediately previous (just-rotated) token within
        the window still succeeds and returns a fresh valid token (safe for offline retries),
        NOT an error. The identical successor is not returned (only token hashes are stored).

        Theft detection: presenting a rotated/revoked token OUTSIDE the grace window (or any
        older token in the chain) revokes the WHOLE family and returns `401 INVALID_TOKEN`.
        Expired or unknown tokens also return `401 INVALID_TOKEN`.
      operationId: refresh
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshRequest"
      responses:
        "200":
          description: New token pair issued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidToken"
        "426":
          $ref: "#/components/responses/UpgradeRequired"

  /api/v1/auth/logout:
    parameters:
      - $ref: "#/components/parameters/XAppVersion"
      - $ref: "#/components/parameters/XDeviceId"
    post:
      summary: Revoke a refresh token
      description: Revokes the presented refresh token (and its session family). Idempotent; always 204.
      operationId: logout
      tags:
        - Auth
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RefreshRequest"
      responses:
        "204":
          description: Token revoked (or already invalid)
        "426":
          $ref: "#/components/responses/UpgradeRequired"

  /api/v1/auth/change-password:
    parameters:
      - $ref: "#/components/parameters/XAppVersion"
      - $ref: "#/components/parameters/XDeviceId"
    post:
      summary: Change the current user's password
      description: |
        Authenticated. Verifies the current password, sets a new one, clears `mustChangePassword`,
        and revokes ALL of the user's sessions (access via token_version bump + all refresh tokens),
        then returns a fresh token pair bound to the current device so the caller stays logged in here.
        While `mustChangePassword` is set (e.g. after a Founder resets a manager's password), this is the
        ONLY endpoint the user may call — every other endpoint returns `403 MUST_CHANGE_PASSWORD` until the
        password is changed; a successful change lifts the restriction immediately.
      operationId: changePassword
      tags:
        - Auth
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChangePasswordRequest"
      responses:
        "200":
          description: Password changed; a new token pair is issued
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/InvalidCredentials"
        "426":
          $ref: "#/components/responses/UpgradeRequired"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/v1/me:
    parameters:
      - $ref: "#/components/parameters/XAppVersion"
    get:
      summary: Get the current authenticated principal
      operationId: getMe
      tags:
        - Me
      responses:
        "200":
          description: Current user profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfile"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "426":
          $ref: "#/components/responses/UpgradeRequired"

  /api/v1/invites:
    parameters:
      - $ref: "#/components/parameters/XAppVersion"
    post:
      summary: Create a one-time invite code
      description: |
        Roles: FOUNDER may invite BRANCH_MANAGER or EMPLOYEE anywhere in the org; BRANCH_MANAGER
        may invite EMPLOYEE only, and only into units of their OWN branch.
        - For `role=EMPLOYEE`: `unitId` is required (branch is derived from the unit); `branchId`,
          `email` and `phone` must be omitted.
        - For `role=BRANCH_MANAGER`: `branchId` is required, `unitId` must be omitted, and at least
          one of `email`/`phone` is required — the Founder sets the manager's login contact on the
          invite (the manager has no self-service signup).
        The target branch/unit must belong to the caller's organization (and, for a
        BRANCH_MANAGER caller, to their own branch). The plaintext `code` is returned once.
        Rate limited per caller (`429 RATE_LIMITED`): minting invite codes is capped even for an
        authorized Founder/Manager, so a compromised account cannot issue secrets without bound.
      operationId: createInvite
      tags:
        - Invites
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateInviteRequest"
      responses:
        "201":
          description: Invite created (plaintext code returned once)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InviteResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Target branch/unit not found in the caller's scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "426":
          $ref: "#/components/responses/UpgradeRequired"
        "429":
          $ref: "#/components/responses/RateLimited"
    get:
      summary: List pending invites (paginated)
      description: |
        Returns invite metadata WITHOUT the code (the code is only ever shown at create/reissue).
        FOUNDER sees the whole org; BRANCH_MANAGER sees only their own branch.
      operationId: listInvites
      tags:
        - Invites
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
        - name: status
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/InviteStatus"
      responses:
        "200":
          description: A page of invites
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InvitePage"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "426":
          $ref: "#/components/responses/UpgradeRequired"

  /api/v1/invites/{inviteId}/reissue:
    parameters:
      - $ref: "#/components/parameters/XAppVersion"
      - name: inviteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      summary: Reissue an invite (revoke old code, mint a new one)
      description: |
        Revokes the existing (unused) code for this invite and generates a fresh code with a
        new TTL, keeping the same branch/unit/role binding. Returns the new plaintext code once.
        Allowed while the invite is still PENDING — including a computed `EXPIRED` one (stored
        PENDING, past `expiresAt`): reissuing is exactly how a lapsed code is refreshed. A `USED`
        or `REVOKED` invite is not reissuable (`409`). Same role scoping as create, and rate
        limited per caller (`429 RATE_LIMITED`).
      operationId: reissueInvite
      tags:
        - Invites
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReissueInviteRequest"
      responses:
        "200":
          description: New code issued (returned once)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InviteResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Invite not found in the caller's scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Invite is not in a reissuable (PENDING) state
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "426":
          $ref: "#/components/responses/UpgradeRequired"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/v1/invites/{inviteId}/revoke:
    parameters:
      - $ref: "#/components/parameters/XAppVersion"
      - name: inviteId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      summary: Revoke an invite (kill the code without reissuing)
      description: |
        Permanently revokes a PENDING invite (its code can no longer be redeemed), without minting
        a replacement — use this when the position is no longer needed. Coexists with `reissue`
        (revoke + new code); it is not an alternative to it. Idempotent: revoking an already-REVOKED
        invite returns `204`. A `USED` invite cannot be revoked (`409`). Same role scoping as create
        (an invite outside the caller's scope is reported as `404`). Not rate limited — it mints no
        secret.
      operationId: revokeInvite
      tags:
        - Invites
      security:
        - bearerAuth: []
      responses:
        "204":
          description: Invite revoked (or already revoked — idempotent)
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Invite not found in the caller's scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Invite is not in a revocable state (already USED)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "426":
          $ref: "#/components/responses/UpgradeRequired"

  /api/v1/branches:
    parameters:
      - $ref: "#/components/parameters/XAppVersion"
    get:
      summary: List branches (paginated)
      description: |
        FOUNDER sees all org branches; BRANCH_MANAGER sees only their own branch.
        EMPLOYEE is not permitted (`403 FORBIDDEN`).
      operationId: listBranches
      tags:
        - Organization
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: A page of branches
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BranchPage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "426":
          $ref: "#/components/responses/UpgradeRequired"
    post:
      summary: Create a branch (FOUNDER only)
      operationId: createBranch
      tags:
        - Organization
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBranchRequest"
      responses:
        "201":
          description: Branch created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Branch"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "426":
          $ref: "#/components/responses/UpgradeRequired"

  /api/v1/branches/{branchId}/units:
    parameters:
      - $ref: "#/components/parameters/XAppVersion"
      - name: branchId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      summary: Create a unit under a branch (FOUNDER or BRANCH_MANAGER)
      description: |
        FOUNDER may create a unit under any branch in the org.
        BRANCH_MANAGER may create a unit only under their OWN branch.
      operationId: createUnit
      tags:
        - Organization
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateUnitRequest"
      responses:
        "201":
          description: Unit created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Unit"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Branch not found in the caller's scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "426":
          $ref: "#/components/responses/UpgradeRequired"

  /api/v1/units:
    parameters:
      - $ref: "#/components/parameters/XAppVersion"
    get:
      summary: List units (paginated)
      description: |
        FOUNDER sees all org units; BRANCH_MANAGER sees only their own branch's units.
        An optional `branchId` filter is intersected with the caller's scope (a manager asking for
        another branch gets an empty page). EMPLOYEE is not permitted (`403 FORBIDDEN`).
      operationId: listUnits
      tags:
        - Organization
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
        - name: branchId
          in: query
          required: false
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: A page of units
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnitPage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "426":
          $ref: "#/components/responses/UpgradeRequired"

  /api/v1/employees:
    parameters:
      - $ref: "#/components/parameters/XAppVersion"
    get:
      summary: List employees (paginated)
      description: |
        FOUNDER sees all employees in the org; BRANCH_MANAGER sees only employees of their own
        branch. Optional `branchId`/`unitId` filters are further constrained by the caller's scope.
      operationId: listEmployees
      tags:
        - Employees
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
        - name: branchId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: unitId
          in: query
          required: false
          schema:
            type: string
            format: uuid
        - name: active
          in: query
          required: false
          schema:
            type: boolean
      responses:
        "200":
          description: A page of employees
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmployeePage"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "426":
          $ref: "#/components/responses/UpgradeRequired"

  /api/v1/employees/{employeeId}/deactivate:
    parameters:
      - $ref: "#/components/parameters/XAppVersion"
      - name: employeeId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      summary: Deactivate an employee and revoke all their tokens
      description: |
        Marks the user inactive, bumps their `tokenVersion` (so outstanding ACCESS tokens are
        rejected on the very next request, not up to ~15 min later) and revokes ALL of their
        refresh-token families (immediate sign-out everywhere).
        FOUNDER may deactivate any BRANCH_MANAGER/EMPLOYEE in the org;
        BRANCH_MANAGER may deactivate EMPLOYEEs of their OWN branch only. A user cannot
        deactivate themselves, and a FOUNDER cannot be deactivated via this endpoint.
      operationId: deactivateEmployee
      tags:
        - Employees
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Employee deactivated
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfile"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Employee not found in the caller's scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Target cannot be deactivated (self, or a FOUNDER)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "426":
          $ref: "#/components/responses/UpgradeRequired"

  /api/v1/employees/{employeeId}/recovery-invite:
    parameters:
      - $ref: "#/components/parameters/XAppVersion"
      - name: employeeId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      summary: Issue a recovery invite (re-bind a lost/replaced device; manager password reset)
      description: |
        Mints a one-time recovery code that re-binds an EXISTING user to a new device at join. Join
        is passwordless in both cases — it revokes the user's old sessions and issues a fresh one.
        Roles: for an EMPLOYEE target the initiator is the FOUNDER or the BRANCH_MANAGER of that
        employee's own branch; for a BRANCH_MANAGER target the initiator is the FOUNDER only.
        A FOUNDER cannot be recovered here (`409`; recovery of the sole founder is an admin-CLI
        procedure — see docs/RUNBOOK.md). An inactive target is `409`.

        Behaviour differs by target role, applied immediately at creation:
        - EMPLOYEE (typically a lost/replaced phone, not theft): only the invite is created; the
          user's existing sessions are revoked later, AT JOIN. No immediate lockout, so an honest
          employee keeps access until they re-bind.
        - BRANCH_MANAGER (typically a password compromise): a temporary password is generated and
          stored with `mustChangePassword=true`, and ALL the manager's sessions are revoked with
          their `tokenVersion` bumped RIGHT AWAY — the old/compromised session dies immediately, not
          at join. The temporary password is returned once (for the Founder to relay) and lets the
          manager log in via /login from another device before changing it.
        Minting a code is rate limited per caller (`429`).
      operationId: issueRecoveryInvite
      tags:
        - Employees
      security:
        - bearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RecoveryInviteRequest"
      responses:
        "201":
          description: Recovery invite created (code — and, for a manager, a temporary password — returned once)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RecoveryInviteResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Target not found in the caller's scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: Target cannot be recovered via this endpoint (a FOUNDER, or an inactive user)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "426":
          $ref: "#/components/responses/UpgradeRequired"
        "429":
          $ref: "#/components/responses/RateLimited"

  /api/v1/employees/{employeeId}/permissions:
    parameters:
      - $ref: "#/components/parameters/XAppVersion"
      - name: employeeId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    put:
      summary: Grant/revoke can_score & can_review on an employee (FOUNDER only)
      description: |
        Sets the granular review/score grants (full desired state). FOUNDER-only — a FOUNDER already
        holds both implicitly, and a unit lead can review regardless. The flags are read from the DB on
        each request, so a change takes effect immediately without re-issuing the user's token.
      operationId: setEmployeePermissions
      tags:
        - Employees
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetPermissionsRequest"
      responses:
        "200":
          description: The updated employee profile
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfile"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Employee not found in the caller's scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "426":
          $ref: "#/components/responses/UpgradeRequired"

  /api/v1/criteria:
    parameters:
      - $ref: "#/components/parameters/XAppVersion"
    get:
      summary: List the reusable criterion library (paginated)
      description: |
        The org-wide library of reusable criteria. FOUNDER and BRANCH_MANAGER may read it (to compose
        templates); EMPLOYEE is not permitted (`403 FORBIDDEN`).
      operationId: listCriteria
      tags:
        - Checklists
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: A page of criteria
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CriterionPage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "426":
          $ref: "#/components/responses/UpgradeRequired"
    post:
      summary: Create a library criterion (FOUNDER only)
      operationId: createCriterion
      tags:
        - Checklists
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCriterionRequest"
      responses:
        "201":
          description: Criterion created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Criterion"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "426":
          $ref: "#/components/responses/UpgradeRequired"

  /api/v1/units/{unitId}/templates:
    parameters:
      - $ref: "#/components/parameters/XAppVersion"
      - name: unitId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: List a unit's checklist templates (paginated)
      description: |
        FOUNDER may read any unit's templates; a BRANCH_MANAGER only units of their own branch
        (a unit outside scope is `404 NOT_FOUND`). EMPLOYEE is not permitted (`403 FORBIDDEN`).
      operationId: listChecklistTemplates
      tags:
        - Checklists
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: A page of templates
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChecklistTemplatePage"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Unit not found in the caller's scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "426":
          $ref: "#/components/responses/UpgradeRequired"
    post:
      summary: Create a checklist template under a unit (FOUNDER or BRANCH_MANAGER)
      description: |
        A unit may own several templates (one per position, e.g. «Повар мангалщик»). FOUNDER may target
        any unit of the org; a BRANCH_MANAGER only units of their own branch.
      operationId: createChecklistTemplate
      tags:
        - Checklists
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateChecklistTemplateRequest"
      responses:
        "201":
          description: Template created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChecklistTemplate"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Unit not found in the caller's scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "426":
          $ref: "#/components/responses/UpgradeRequired"

  /api/v1/templates/{templateId}/items:
    parameters:
      - $ref: "#/components/parameters/XAppVersion"
      - name: templateId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: List a template's items (ordered, not paginated)
      description: |
        A template's items form a single bounded checklist, returned whole and ordered by `sortOrder`.
        For a linked item (`criterionId` set) the title/standard text is resolved from the library.
      operationId: listChecklistItems
      tags:
        - Checklists
      security:
        - bearerAuth: []
      responses:
        "200":
          description: The template's items
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ChecklistItem"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Template not found in the caller's scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "426":
          $ref: "#/components/responses/UpgradeRequired"
    post:
      summary: Add an item to a template (FOUNDER or BRANCH_MANAGER)
      description: |
        Provide `criterionId` to LINK a library criterion: its `type` and title/standard text are
        inherited (not duplicated on the item) and the scalar config fields, when present, override the
        criterion's defaults. Omit `criterionId` for an AD-HOC item, where `type`, `titleRu` and
        `titleUz` are required.
      operationId: createChecklistItem
      tags:
        - Checklists
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateChecklistItemRequest"
      responses:
        "201":
          description: Item created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChecklistItem"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Template or linked criterion not found in the caller's scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "426":
          $ref: "#/components/responses/UpgradeRequired"

  /api/v1/templates/{templateId}/schedules:
    parameters:
      - $ref: "#/components/parameters/XAppVersion"
      - name: templateId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: List a template's schedules
      operationId: listSchedules
      tags:
        - Schedules
      security:
        - bearerAuth: []
      responses:
        "200":
          description: The template's schedules
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Schedule"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Template not found in the caller's scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "426":
          $ref: "#/components/responses/UpgradeRequired"
    post:
      summary: Create a schedule for a template (FOUNDER or BRANCH_MANAGER)
      description: |
        DAILY requires `anchorDate` and at least one slot; `intervalDays` counts days from the anchor
        (1 = daily, 2 = every other day). WEEKLY ignores `intervalDays`/`anchorDate`/`slots` — weekly
        cadence, deadline = end of Sunday; the template's items are the zones.
      operationId: createSchedule
      tags:
        - Schedules
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateScheduleRequest"
      responses:
        "201":
          description: Schedule created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Schedule"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Template not found in the caller's scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "426":
          $ref: "#/components/responses/UpgradeRequired"

  /api/v1/units/{unitId}/task-instances:
    parameters:
      - $ref: "#/components/parameters/XAppVersion"
      - name: unitId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: List a unit's upcoming task instances
      description: |
        Generated occurrences due within `[from, to)` (default: the next 7 days). FOUNDER sees any unit
        of the org; a BRANCH_MANAGER only units of their own branch. EMPLOYEE is not permitted here (the
        employee feed is a later mobile slice).
      operationId: listTaskInstances
      tags:
        - Schedules
      security:
        - bearerAuth: []
      parameters:
        - name: from
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          required: false
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: The unit's task instances, soonest first
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/TaskInstance"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Unit not found in the caller's scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "426":
          $ref: "#/components/responses/UpgradeRequired"

  /api/v1/units/{unitId}/lead:
    parameters:
      - $ref: "#/components/parameters/XAppVersion"
      - name: unitId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: Get a unit's lead assignment and resolved effective lead
      description: |
        Returns the assigned lead/acting_lead and the resolved effective lead
        (acting_lead -> lead -> branch manager). FOUNDER any unit; BRANCH_MANAGER only their branch.
      operationId: getUnitLead
      tags:
        - Organization
      security:
        - bearerAuth: []
      responses:
        "200":
          description: The unit's lead assignment
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnitLead"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Unit not found in the caller's scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "426":
          $ref: "#/components/responses/UpgradeRequired"
    put:
      summary: Set a unit's lead / acting_lead (FOUNDER or BRANCH_MANAGER)
      description: |
        Full replacement: each field is the desired state, null clears it. A referenced user must be
        active and either a member of the unit or the manager of its branch (otherwise `400`).
      operationId: setUnitLead
      tags:
        - Organization
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetUnitLeadRequest"
      responses:
        "200":
          description: The updated lead assignment
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnitLead"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Unit not found in the caller's scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "426":
          $ref: "#/components/responses/UpgradeRequired"

  /api/v1/schedules/{scheduleId}:
    parameters:
      - $ref: "#/components/parameters/XAppVersion"
      - name: scheduleId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    put:
      summary: Edit a schedule (FOUNDER or BRANCH_MANAGER)
      description: |
        `recurrence` is immutable. Applying an edit cancels this schedule's future PENDING instances
        (status CANCELLED, not deleted) and — if still active — regenerates them from the new definition.
      operationId: updateSchedule
      tags:
        - Schedules
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateScheduleRequest"
      responses:
        "200":
          description: The updated schedule
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Schedule"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Schedule not found in the caller's scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "426":
          $ref: "#/components/responses/UpgradeRequired"

  /api/v1/schedules/{scheduleId}/deactivate:
    parameters:
      - $ref: "#/components/parameters/XAppVersion"
      - name: scheduleId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      summary: Deactivate a schedule (FOUNDER or BRANCH_MANAGER)
      description: Stops future generation and cancels this schedule's future PENDING instances (CANCELLED).
      operationId: deactivateSchedule
      tags:
        - Schedules
      security:
        - bearerAuth: []
      responses:
        "200":
          description: The deactivated schedule
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Schedule"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Schedule not found in the caller's scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "426":
          $ref: "#/components/responses/UpgradeRequired"

  /api/v1/task-instances/{taskInstanceId}/submit:
    parameters:
      - $ref: "#/components/parameters/XAppVersion"
      - name: taskInstanceId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      summary: Submit a task instance (multipart, with optional photo)
      description: |
        A full submission: Yes/No `answer`, an optional in-app `photo` (required when the task needs
        one), and optional repeated `helperUserIds` (co-workers who did it; each must be a member of the
        unit). Server time is authoritative — the receipt time and the `late` flag are set server-side,
        client time is ignored.

        Photo rules: the type is checked by MAGIC BYTES (JPEG/PNG only); oversize is `413 PHOTO_TOO_LARGE`;
        a non-image is `415 UNSUPPORTED_IMAGE`. Duplicate protection scopes by (item, unit) over 60 days:
        an exact SHA-256 match is always `409 DUPLICATE_PHOTO` (recorded as a blocked attempt); a
        near-duplicate within the item's Hamming threshold is `409 DUPLICATE_PHOTO` for a normal item but
        is FLAGGED (`flagged: true`, allowed) for a `static_scene` item. Photos of REJECTED submissions
        are excluded from the near-duplicate comparison (a legitimate re-shoot is not blocked).

        Status: PENDING → SUBMITTED. A MISSED task still accepts a submission within the late window
        (flagged `late`, status preserved — the reviewer decides); past the window it is
        `409 LATE_WINDOW_CLOSED`. A CANCELLED task is `409 TASK_CANCELLED` (attempt recorded, not a 404);
        any other non-PENDING status is `409 TASK_NOT_OPEN`.
        FOUNDER any unit; BRANCH_MANAGER own branch; EMPLOYEE own unit (else 404).
      operationId: submitTaskInstance
      tags:
        - Schedules
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - answer
              properties:
                answer:
                  type: boolean
                helperUserIds:
                  type: array
                  items:
                    type: string
                    format: uuid
                photo:
                  type: string
                  format: binary
      responses:
        "200":
          description: The submission (with a signed photo URL and helper tags)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Submission"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Task not found in the caller's scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: "`DUPLICATE_PHOTO`, `TASK_CANCELLED`, `TASK_NOT_OPEN`, or `LATE_WINDOW_CLOSED`"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "413":
          description: "`PHOTO_TOO_LARGE` — the photo exceeds the size cap"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "415":
          description: "`UNSUPPORTED_IMAGE` — not a JPEG/PNG (checked by magic bytes)"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "426":
          $ref: "#/components/responses/UpgradeRequired"

  /api/v1/submissions/{submissionId}/confirm:
    parameters:
      - $ref: "#/components/parameters/XAppVersion"
      - name: submissionId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      summary: Confirm participation as a tagged helper
      description: |
        The TAGGED employee confirms they helped ("как подпись на бумаге"). Only the taggee may call this
        — a caller who was not tagged on this submission gets a 404. Sets `confirmedAt` to server time.
      operationId: confirmHelper
      tags:
        - Schedules
      security:
        - bearerAuth: []
      responses:
        "200":
          description: The helper tag, now confirmed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Helper"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Submission not found, or the caller is not a tagged helper on it
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "426":
          $ref: "#/components/responses/UpgradeRequired"

  /media/{storageKey}:
    get:
      summary: Fetch photo bytes via a short-lived signed URL
      description: |
        Serves a stored photo. Lives OUTSIDE `/api/v1` (like `/health`), so it needs neither the app
        version header nor a bearer token — it is authorised solely by the HMAC `sig` and `exp` query
        params from the signed URL in a Submission's `photo.url`. An invalid/expired signature or an
        unknown key is a flat `403`.
      operationId: getMedia
      tags:
        - Media
      parameters:
        - name: storageKey
          in: path
          required: true
          schema:
            type: string
        - name: exp
          in: query
          required: true
          schema:
            type: integer
            format: int64
        - name: sig
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: The image bytes
          content:
            image/jpeg: {}
            image/png: {}
        "403":
          description: Missing, invalid, or expired signature

  /api/v1/submissions/{submissionId}/review:
    parameters:
      - $ref: "#/components/parameters/XAppVersion"
      - name: submissionId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      summary: Review (accept/reject) a submission
      description: |
        Requires `can_review` (FOUNDER, the unit's effective lead, or an `app_user.can_review` holder).
        A reviewer may NOT review their own submission (as submitter or a tagged helper) → `403
        CANNOT_REVIEW_OWN`. Only a FOUNDER may change an already-decided submission; a non-FOUNDER gets
        `409 ALREADY_REVIEWED`. ACCEPT closes the zone (task → DONE); REJECT makes the task resubmittable
        (SUBMITTED → PENDING; a MISSED task stays MISSED for its late window). Every decision is audited.
      operationId: reviewSubmission
      tags:
        - Review
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReviewRequest"
      responses:
        "200":
          description: The recorded decision
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReviewResult"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: "`FORBIDDEN` (no can_review) or `CANNOT_REVIEW_OWN`"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Submission not found in the caller's scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "409":
          description: "`ALREADY_REVIEWED` — already decided and the caller is not a FOUNDER"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "426":
          $ref: "#/components/responses/UpgradeRequired"

  /api/v1/task-instances/{taskInstanceId}/manual-score:
    parameters:
      - $ref: "#/components/parameters/XAppVersion"
      - name: taskInstanceId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      summary: Score a MANUAL task (FULL/PARTIAL/ZERO)
      description: |
        Requires `can_score` (FOUNDER or an `app_user.can_score` holder); a scorer may not score a task
        they submitted or helped on (`403 CANNOT_SCORE_OWN`). Awards `points × {1, 0.5, 0}`. One score per
        task (re-scoring updates it). Recommendation input only — the system never computes pay.
      operationId: scoreManual
      tags:
        - Review
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ManualScoreRequest"
      responses:
        "200":
          description: The recorded score
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TaskScore"
        "400":
          description: "`NOT_SCORABLE` — the item is not MANUAL"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          description: "`FORBIDDEN` (no can_score) or `CANNOT_SCORE_OWN`"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Task not found in the caller's scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "426":
          $ref: "#/components/responses/UpgradeRequired"

  /api/v1/task-instances/{taskInstanceId}/numeric-score:
    parameters:
      - $ref: "#/components/parameters/XAppVersion"
      - name: taskInstanceId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      summary: Score a NUMERIC task (value → band → points)
      description: |
        Requires `can_score`; no self-scoring. The value is mapped through the item's bands
        (`[lower, upper)`) to points; a value with no matching band is `400 NOT_SCORABLE`.
      operationId: scoreNumeric
      tags:
        - Review
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/NumericScoreRequest"
      responses:
        "200":
          description: The recorded score
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TaskScore"
        "400":
          description: "`NOT_SCORABLE` — the item is not NUMERIC, or no band matches the value"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Task not found in the caller's scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "426":
          $ref: "#/components/responses/UpgradeRequired"

  /api/v1/items/{itemId}/numeric-bands:
    parameters:
      - $ref: "#/components/parameters/XAppVersion"
      - name: itemId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      summary: List a NUMERIC item's scoring bands
      operationId: listNumericBands
      tags:
        - Review
      security:
        - bearerAuth: []
      responses:
        "200":
          description: The item's bands
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/NumericBand"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Item not found in the caller's scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "426":
          $ref: "#/components/responses/UpgradeRequired"
    post:
      summary: Add a scoring band to a NUMERIC item (FOUNDER only)
      description: Band is `[lowerBound, upperBound)` — null lower = -inf, null upper = +inf.
      operationId: createNumericBand
      tags:
        - Review
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateNumericBandRequest"
      responses:
        "201":
          description: Band created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NumericBand"
        "400":
          description: "`NOT_SCORABLE` — not a NUMERIC item, or lowerBound >= upperBound"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Item not found in the caller's scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "426":
          $ref: "#/components/responses/UpgradeRequired"

  /api/v1/schedules/{scheduleId}/progress:
    parameters:
      - $ref: "#/components/parameters/XAppVersion"
      - name: scheduleId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: periodKey
        in: query
        required: true
        schema:
          type: string
    get:
      summary: Zone progress "N of M" for a period
      description: DONE occurrences over the total non-cancelled ones for one `(schedule, period)`.
      operationId: getZoneProgress
      tags:
        - Review
      security:
        - bearerAuth: []
      responses:
        "200":
          description: The progress counts
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ZoneProgress"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Schedule not found in the caller's scope
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "426":
          $ref: "#/components/responses/UpgradeRequired"

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Short-lived JWT access token issued by the /auth endpoints.

  parameters:
    XAppVersion:
      name: X-App-Version
      in: header
      required: true
      description: |
        Client app version (semver, e.g. `1.4.0`). Required on all `/api/v1` requests.
        Too-old clients get `426 UPGRADE_REQUIRED`.
      schema:
        type: string
        example: "1.4.0"
    XDeviceId:
      name: X-Device-Id
      in: header
      required: true
      description: |
        Stable device identifier generated by the app at install. Required on session-establishing
        auth endpoints (register, login, join, refresh, logout, change-password). Binds the session
        to a device; a refresh presented with a different device id is treated as token theft.
      schema:
        type: string
        example: "8f3b2c10-1c2d-4e5f-9a0b-1122334455aa"
    Limit:
      name: limit
      in: query
      required: false
      description: Max items per page.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
    Cursor:
      name: cursor
      in: query
      required: false
      description: Opaque cursor from a previous page's `nextCursor`. Omit for the first page.
      schema:
        type: string

  responses:
    BadRequest:
      description: Request validation failed
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Unauthorized:
      description: Missing, expired, forged or otherwise invalid access token
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    InvalidCredentials:
      description: |
        Authentication failed. Identical for unknown principal and wrong secret to prevent enumeration.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            code: INVALID_CREDENTIALS
            message: Invalid credentials
    InvalidToken:
      description: Refresh token is unknown, expired, revoked or already rotated (family revoked)
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            code: INVALID_TOKEN
            message: Invalid token
    Forbidden:
      description: |
        Authenticated but not allowed to perform this action. Either the role/branch scope forbids it
        (code `FORBIDDEN`), or the user still has `mustChangePassword` set and must change their password
        before calling any endpoint other than `POST /api/v1/auth/change-password` (code `MUST_CHANGE_PASSWORD`).
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          examples:
            forbidden:
              value:
                code: FORBIDDEN
                message: Access denied
            mustChangePassword:
              value:
                code: MUST_CHANGE_PASSWORD
                message: Password change required
    UpgradeRequired:
      description: Client app version is no longer supported; upgrade required.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            code: UPGRADE_REQUIRED
            message: Please update the app to continue
    RateLimited:
      description: Too many attempts; retry later
      headers:
        Retry-After:
          description: Seconds to wait before retrying
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            code: RATE_LIMITED
            message: Too many requests

  schemas:
    HealthResponse:
      type: object
      required:
        - status
      properties:
        status:
          type: string
          example: ok

    Role:
      type: string
      enum:
        - FOUNDER
        - BRANCH_MANAGER
        - EMPLOYEE

    InvitableRole:
      type: string
      description: Roles that can be granted through an invite (FOUNDER is never invitable).
      enum:
        - BRANCH_MANAGER
        - EMPLOYEE

    InviteStatus:
      type: string
      enum:
        - PENDING
        - USED
        - EXPIRED
        - REVOKED

    RegisterRequest:
      type: object
      required:
        - organizationName
        - fullName
        - password
      properties:
        organizationName:
          type: string
          minLength: 1
          maxLength: 255
        fullName:
          type: string
          minLength: 1
          maxLength: 255
        email:
          type: [string, "null"]
          format: email
          description: Required if `phone` is absent.
        phone:
          type: [string, "null"]
          description: Normalized to E.164. Required if `email` is absent.
          example: "+998901234567"
        password:
          type: string
          format: password
          minLength: 10
          maxLength: 128
          writeOnly: true

    LoginRequest:
      type: object
      required:
        - login
        - password
      properties:
        login:
          type: string
          description: Email or E.164 phone number.
        password:
          type: string
          format: password
          writeOnly: true

    JoinRequest:
      type: object
      required:
        - inviteCode
        - fullName
      properties:
        inviteCode:
          type: string
          writeOnly: true
        fullName:
          type: string
          minLength: 1
          maxLength: 255
        password:
          type: [string, "null"]
          format: password
          minLength: 10
          maxLength: 128
          writeOnly: true
          description: |
            Required for a BRANCH_MANAGER invite (the manager's login email/phone is carried by the
            invite). Must be omitted for EMPLOYEE invites and for recovery invites.

    RefreshRequest:
      type: object
      required:
        - refreshToken
      properties:
        refreshToken:
          type: string
          writeOnly: true

    ChangePasswordRequest:
      type: object
      required:
        - currentPassword
        - newPassword
      properties:
        currentPassword:
          type: string
          format: password
          writeOnly: true
        newPassword:
          type: string
          format: password
          minLength: 10
          maxLength: 128
          writeOnly: true

    AuthResponse:
      type: object
      required:
        - accessToken
        - refreshToken
        - tokenType
        - expiresIn
        - user
      properties:
        accessToken:
          type: string
          description: Short-lived JWT (~15 minutes).
        refreshToken:
          type: string
          description: Opaque high-entropy token. Rotated on every refresh.
        tokenType:
          type: string
          enum:
            - Bearer
          example: Bearer
        expiresIn:
          type: integer
          description: Access token lifetime in seconds.
          example: 900
        user:
          $ref: "#/components/schemas/UserProfile"

    UserProfile:
      type: object
      required:
        - id
        - organizationId
        - fullName
        - role
        - active
        - mustChangePassword
        - canScore
        - canReview
      properties:
        id:
          type: string
          format: uuid
        organizationId:
          type: string
          format: uuid
        fullName:
          type: string
        role:
          $ref: "#/components/schemas/Role"
        active:
          type: boolean
        email:
          type: [string, "null"]
          format: email
        phone:
          type: [string, "null"]
        branchId:
          type: [string, "null"]
          format: uuid
          description: Null for FOUNDER; set for BRANCH_MANAGER and EMPLOYEE.
        unitId:
          type: [string, "null"]
          format: uuid
          description: Set for EMPLOYEE; null for FOUNDER and BRANCH_MANAGER.
        mustChangePassword:
          type: boolean
          description: True after an admin/temporary password reset; the client must force a change.
        canScore:
          type: boolean
          description: Granular grant to enter MANUAL/NUMERIC scores (FOUNDER always may).
        canReview:
          type: boolean
          description: Granular grant to review submissions (FOUNDER and a unit lead always may).

    CreateInviteRequest:
      type: object
      required:
        - role
      properties:
        role:
          allOf:
            - $ref: "#/components/schemas/InvitableRole"
          default: EMPLOYEE
        branchId:
          type: [string, "null"]
          format: uuid
          description: Required when role=BRANCH_MANAGER. Ignored/omitted for EMPLOYEE.
        unitId:
          type: [string, "null"]
          format: uuid
          description: Required when role=EMPLOYEE. Must be omitted for BRANCH_MANAGER.
        email:
          type: [string, "null"]
          format: email
          maxLength: 320
          description: >-
            BRANCH_MANAGER login contact, set by the Founder on the invite. At least one of
            `email`/`phone` is required when role=BRANCH_MANAGER; both must be omitted for EMPLOYEE.
        phone:
          type: [string, "null"]
          maxLength: 20
          description: >-
            BRANCH_MANAGER login contact (E.164), set by the Founder. At least one of
            `email`/`phone` is required when role=BRANCH_MANAGER; both must be omitted for EMPLOYEE.
        expiresInMinutes:
          type: integer
          minimum: 1
          maximum: 43200
          default: 1440
          description: Time-to-live for the code. Defaults to 24 hours.

    ReissueInviteRequest:
      type: object
      properties:
        expiresInMinutes:
          type: integer
          minimum: 1
          maximum: 43200
          default: 1440
          description: TTL for the new code. Defaults to 24 hours.

    InviteResponse:
      type: object
      description: Returned only at create/reissue; carries the one-time plaintext code.
      required:
        - id
        - code
        - role
        - branchId
        - expiresAt
        - createdAt
      properties:
        id:
          type: string
          format: uuid
        code:
          type: string
          description: Plaintext invite code. Shown ONCE; only its hash is stored.
        role:
          $ref: "#/components/schemas/InvitableRole"
        branchId:
          type: string
          format: uuid
        unitId:
          type: [string, "null"]
          format: uuid
          description: Set for EMPLOYEE invites; null for BRANCH_MANAGER invites.
        expiresAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time

    InviteSummary:
      type: object
      description: >-
        Invite metadata for list responses. Never carries the code — not even masked; the plaintext
        is shown once, only in the create/reissue response. Carries no email/phone (personal data).
      required:
        - id
        - role
        - branchId
        - status
        - createdBy
        - createdAt
        - expiresAt
      properties:
        id:
          type: string
          format: uuid
        role:
          $ref: "#/components/schemas/InvitableRole"
        branchId:
          type: string
          format: uuid
          description: For an EMPLOYEE invite this is derived from the unit's branch.
        unitId:
          type: [string, "null"]
          format: uuid
        status:
          allOf:
            - $ref: "#/components/schemas/InviteStatus"
          description: EXPIRED is computed from expiresAt at read time; only PENDING/USED/REVOKED are stored.
        createdBy:
          type: string
          format: uuid
          description: The user (Founder/Manager) who issued the invite.
        createdAt:
          type: string
          format: date-time
        expiresAt:
          type: string
          format: date-time
        usedAt:
          type: [string, "null"]
          format: date-time
          description: When the invite was consumed; null unless status is USED.

    RecoveryInviteRequest:
      type: object
      properties:
        expiresInMinutes:
          type: integer
          minimum: 1
          maximum: 43200
          default: 1440
          description: TTL for the recovery code. Defaults to 24 hours.

    RecoveryInviteResponse:
      type: object
      description: >-
        Returned once on issue. Carries the one-time recovery `code`; for a BRANCH_MANAGER target it
        also carries a one-time `temporaryPassword` (null for an EMPLOYEE, who has no password).
      required:
        - id
        - code
        - targetEmployeeId
        - role
        - expiresAt
        - createdAt
      properties:
        id:
          type: string
          format: uuid
        code:
          type: string
          description: Plaintext recovery code. Shown ONCE; only its hash is stored.
        targetEmployeeId:
          type: string
          format: uuid
        role:
          allOf:
            - $ref: "#/components/schemas/InvitableRole"
          description: The target user's role (EMPLOYEE or BRANCH_MANAGER); never FOUNDER.
        temporaryPassword:
          type: [string, "null"]
          description: One-time temporary password; set only for a BRANCH_MANAGER target, null otherwise.
        expiresAt:
          type: string
          format: date-time
        createdAt:
          type: string
          format: date-time

    CreateBranchRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
        address:
          type: [string, "null"]

    Branch:
      type: object
      required:
        - id
        - organizationId
        - name
        - createdAt
      properties:
        id:
          type: string
          format: uuid
        organizationId:
          type: string
          format: uuid
        name:
          type: string
        address:
          type: [string, "null"]
        createdAt:
          type: string
          format: date-time

    CreateUnitRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255

    Unit:
      type: object
      required:
        - id
        - organizationId
        - branchId
        - name
        - createdAt
      properties:
        id:
          type: string
          format: uuid
        organizationId:
          type: string
          format: uuid
        branchId:
          type: string
          format: uuid
        name:
          type: string
        createdAt:
          type: string
          format: date-time

    BranchPage:
      type: object
      required:
        - items
        - nextCursor
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Branch"
        nextCursor:
          type: [string, "null"]
          description: Cursor for the next page; null when there are no more items.

    UnitPage:
      type: object
      required:
        - items
        - nextCursor
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Unit"
        nextCursor:
          type: [string, "null"]

    EmployeePage:
      type: object
      required:
        - items
        - nextCursor
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/UserProfile"
        nextCursor:
          type: [string, "null"]

    InvitePage:
      type: object
      required:
        - items
        - nextCursor
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/InviteSummary"
        nextCursor:
          type: [string, "null"]

    ItemType:
      type: string
      enum: [PHOTO, MANUAL, NUMERIC]
      description: |
        PHOTO — employee uploads a photo, reviewer accepts/rejects.
        MANUAL — reviewer scores directly, no photo.
        NUMERIC — a monthly number scored from a configurable scale (scale arrives with scoring in P2-6).

    CreateCriterionRequest:
      type: object
      required:
        - type
        - titleRu
        - titleUz
      properties:
        type:
          $ref: "#/components/schemas/ItemType"
        titleRu:
          type: string
          minLength: 1
          maxLength: 120
        titleUz:
          type: string
          minLength: 1
          maxLength: 120
        standardRu:
          type: [string, "null"]
          maxLength: 500
        standardUz:
          type: [string, "null"]
          maxLength: 500
        originalText:
          type: [string, "null"]
          maxLength: 4000
        photoRequired:
          type: boolean
          default: false
        points:
          type: integer
          minimum: 0
          default: 0
        critical:
          type: boolean
          default: false
        staticScene:
          type: boolean
          default: false
        dhashThreshold:
          type: integer
          minimum: 0
          maximum: 64
          default: 6

    Criterion:
      type: object
      required:
        - id
        - organizationId
        - type
        - titleRu
        - titleUz
        - photoRequired
        - points
        - critical
        - staticScene
        - dhashThreshold
        - createdAt
      properties:
        id:
          type: string
          format: uuid
        organizationId:
          type: string
          format: uuid
        type:
          $ref: "#/components/schemas/ItemType"
        titleRu:
          type: string
        titleUz:
          type: string
        standardRu:
          type: [string, "null"]
        standardUz:
          type: [string, "null"]
        originalText:
          type: [string, "null"]
        photoRequired:
          type: boolean
          description: Default photo_required seeded onto a linked item.
        points:
          type: integer
          description: Default points seeded onto a linked item.
        critical:
          type: boolean
        staticScene:
          type: boolean
        dhashThreshold:
          type: integer
        createdAt:
          type: string
          format: date-time

    CriterionPage:
      type: object
      required:
        - items
        - nextCursor
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Criterion"
        nextCursor:
          type: [string, "null"]

    CreateChecklistTemplateRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255

    ChecklistTemplate:
      type: object
      required:
        - id
        - organizationId
        - unitId
        - name
        - createdAt
      properties:
        id:
          type: string
          format: uuid
        organizationId:
          type: string
          format: uuid
        unitId:
          type: string
          format: uuid
        positionId:
          type: [string, "null"]
          format: uuid
          description: Reserved for the future positions model (P2-2); null until positions are defined.
        name:
          type: string
        createdAt:
          type: string
          format: date-time

    ChecklistTemplatePage:
      type: object
      required:
        - items
        - nextCursor
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/ChecklistTemplate"
        nextCursor:
          type: [string, "null"]

    CreateChecklistItemRequest:
      type: object
      description: |
        LINK a criterion with `criterionId` (then `type`/text are inherited and the scalar fields override
        the criterion's defaults), or omit it for an AD-HOC item (then `type`, `titleRu`, `titleUz` are
        required). The scalar fields are nullable so "not provided" (inherit/default) differs from a value.
      properties:
        criterionId:
          type: [string, "null"]
          format: uuid
        type:
          oneOf:
            - $ref: "#/components/schemas/ItemType"
            - type: "null"
        titleRu:
          type: [string, "null"]
          maxLength: 120
        titleUz:
          type: [string, "null"]
          maxLength: 120
        standardRu:
          type: [string, "null"]
          maxLength: 500
        standardUz:
          type: [string, "null"]
          maxLength: 500
        originalText:
          type: [string, "null"]
          maxLength: 4000
        photoRequired:
          type: [boolean, "null"]
        points:
          type: [integer, "null"]
          minimum: 0
        critical:
          type: [boolean, "null"]
        staticScene:
          type: [boolean, "null"]
        dhashThreshold:
          type: [integer, "null"]
          minimum: 0
          maximum: 64
        sortOrder:
          type: integer
          default: 0

    ChecklistItem:
      type: object
      required:
        - id
        - organizationId
        - templateId
        - type
        - photoRequired
        - points
        - critical
        - staticScene
        - dhashThreshold
        - sortOrder
        - createdAt
      properties:
        id:
          type: string
          format: uuid
        organizationId:
          type: string
          format: uuid
        templateId:
          type: string
          format: uuid
        criterionId:
          type: [string, "null"]
          format: uuid
          description: When set, the item links a library criterion and the title/standard text below is resolved from it.
        type:
          $ref: "#/components/schemas/ItemType"
        titleRu:
          type: [string, "null"]
        titleUz:
          type: [string, "null"]
        standardRu:
          type: [string, "null"]
        standardUz:
          type: [string, "null"]
        originalText:
          type: [string, "null"]
        photoRequired:
          type: boolean
        points:
          type: integer
        critical:
          type: boolean
        staticScene:
          type: boolean
        dhashThreshold:
          type: integer
        sortOrder:
          type: integer
        createdAt:
          type: string
          format: date-time

    Recurrence:
      type: string
      enum: [DAILY, WEEKLY]

    TaskStatus:
      type: string
      enum: [PENDING, SUBMITTED, REJECTED, EXTENSION_REQUESTED, DONE, MISSED, EXTENDED, CANCELLED]
      description: |
        User-visible are DONE / MISSED / EXTENDED; the rest are internal. CANCELLED = the schedule was
        edited/deactivated; a kept (not deleted) occurrence so a late submission gets a clear error.

    SlotRequest:
      type: object
      required:
        - slotTime
      properties:
        slotTime:
          type: string
          example: "23:00"
          description: Local time-of-day (Asia/Tashkent).
        photoRequired:
          type: [boolean, "null"]
          description: Overrides the item's photo_required for this slot; null => use the item's value.
        sortOrder:
          type: integer
          default: 0

    UpdateScheduleRequest:
      type: object
      description: |
        Edit a schedule. `recurrence` is immutable (kept); everything else is the new desired state.
        Cancels future PENDING and — if still active — regenerates them.
      properties:
        intervalDays:
          type: integer
          minimum: 1
          default: 1
        anchorDate:
          type: [string, "null"]
          format: date
        slotWindowMinutes:
          type: integer
          minimum: 1
          default: 60
        active:
          type: boolean
          default: true
        slots:
          type: array
          items:
            $ref: "#/components/schemas/SlotRequest"

    CreateScheduleRequest:
      type: object
      required:
        - recurrence
      properties:
        recurrence:
          $ref: "#/components/schemas/Recurrence"
        intervalDays:
          type: integer
          minimum: 1
          default: 1
        anchorDate:
          type: [string, "null"]
          format: date
        slotWindowMinutes:
          type: integer
          minimum: 1
          default: 60
        slots:
          type: array
          items:
            $ref: "#/components/schemas/SlotRequest"

    Slot:
      type: object
      required:
        - id
        - slotTime
        - sortOrder
      properties:
        id:
          type: string
          format: uuid
        slotTime:
          type: string
          example: "23:00"
        photoRequired:
          type: [boolean, "null"]
        sortOrder:
          type: integer

    Schedule:
      type: object
      required:
        - id
        - organizationId
        - templateId
        - unitId
        - recurrence
        - intervalDays
        - slotWindowMinutes
        - active
        - slots
        - createdAt
      properties:
        id:
          type: string
          format: uuid
        organizationId:
          type: string
          format: uuid
        templateId:
          type: string
          format: uuid
        unitId:
          type: string
          format: uuid
        recurrence:
          $ref: "#/components/schemas/Recurrence"
        intervalDays:
          type: integer
        anchorDate:
          type: [string, "null"]
          format: date
        slotWindowMinutes:
          type: integer
        active:
          type: boolean
        slots:
          type: array
          items:
            $ref: "#/components/schemas/Slot"
        createdAt:
          type: string
          format: date-time

    TaskInstance:
      type: object
      required:
        - id
        - scheduleId
        - templateId
        - itemId
        - unitId
        - periodKey
        - dueAt
        - photoRequired
        - status
      properties:
        id:
          type: string
          format: uuid
        scheduleId:
          type: string
          format: uuid
        templateId:
          type: string
          format: uuid
        itemId:
          type: string
          format: uuid
        unitId:
          type: string
          format: uuid
        slotTime:
          type: [string, "null"]
          example: "23:00"
        periodKey:
          type: string
          example: "D:2026-10-30:23:00"
          description: Occurrence identity ("D:<date>:<HH:mm>" for a daily slot, "W:<isoYear>-W<week>").
        scheduledAt:
          type: [string, "null"]
          format: date-time
        dueAt:
          type: string
          format: date-time
        photoRequired:
          type: boolean
        status:
          $ref: "#/components/schemas/TaskStatus"

    LeadSource:
      type: string
      enum: [ACTING_LEAD, LEAD, BRANCH_MANAGER, NONE]
      description: Where the effective lead came from; NONE = no lead and no branch manager.

    SetUnitLeadRequest:
      type: object
      description: Full replacement — null clears that role.
      properties:
        leadEmployeeId:
          type: [string, "null"]
          format: uuid
        actingLeadEmployeeId:
          type: [string, "null"]
          format: uuid

    UnitLead:
      type: object
      required:
        - unitId
        - source
      properties:
        unitId:
          type: string
          format: uuid
        leadEmployeeId:
          type: [string, "null"]
          format: uuid
        actingLeadEmployeeId:
          type: [string, "null"]
          format: uuid
        effectiveLeadUserId:
          type: [string, "null"]
          format: uuid
          description: Resolved acting_lead -> lead -> branch manager; null only when source is NONE.
        source:
          $ref: "#/components/schemas/LeadSource"

    Helper:
      type: object
      required:
        - employeeId
      properties:
        employeeId:
          type: string
          format: uuid
        confirmedAt:
          type: [string, "null"]
          format: date-time
          description: Set only when the tagged employee has confirmed their participation.

    Submission:
      type: object
      required:
        - id
        - taskInstanceId
        - submittedByUserId
        - answer
        - receivedAt
        - late
        - status
        - flagged
        - helpers
      properties:
        id:
          type: string
          format: uuid
        taskInstanceId:
          type: string
          format: uuid
        submittedByUserId:
          type: string
          format: uuid
        answer:
          type: boolean
        receivedAt:
          type: string
          format: date-time
          description: Server receipt time (authoritative).
        late:
          type: boolean
          description: True when submitted after the task's deadline.
        status:
          type: string
          enum: [SUBMITTED, ACCEPTED, REJECTED]
        flagged:
          type: boolean
          description: True when a static-scene near-duplicate was flagged for reviewer attention (not blocked).
        photo:
          oneOf:
            - $ref: "#/components/schemas/PhotoRef"
            - type: "null"
        helpers:
          type: array
          items:
            $ref: "#/components/schemas/Helper"

    PhotoRef:
      type: object
      required:
        - id
        - url
        - contentType
        - sizeBytes
      properties:
        id:
          type: string
          format: uuid
        url:
          type: string
          description: Short-lived signed URL (under /media) to fetch the bytes.
        contentType:
          type: string
        sizeBytes:
          type: integer
          format: int64

    SetPermissionsRequest:
      type: object
      required:
        - canScore
        - canReview
      properties:
        canScore:
          type: boolean
        canReview:
          type: boolean

    ReviewDecision:
      type: string
      enum: [ACCEPTED, REJECTED]

    ManualGrade:
      type: string
      enum: [FULL, PARTIAL, ZERO]
      description: Multiplier of the item's points — FULL=1.0, PARTIAL=0.5, ZERO=0.0.

    ReviewRequest:
      type: object
      required:
        - decision
      properties:
        decision:
          $ref: "#/components/schemas/ReviewDecision"
        reason:
          type: [string, "null"]
          maxLength: 64
          description: Quick reject reason code (optional).
        comment:
          type: [string, "null"]
          maxLength: 4000

    ReviewResult:
      type: object
      required:
        - submissionId
        - decision
        - reviewerUserId
        - submissionStatus
        - taskInstanceId
        - taskStatus
        - override
      properties:
        submissionId:
          type: string
          format: uuid
        decision:
          $ref: "#/components/schemas/ReviewDecision"
        reviewerUserId:
          type: string
          format: uuid
        submissionStatus:
          type: string
          enum: [SUBMITTED, ACCEPTED, REJECTED]
        taskInstanceId:
          type: string
          format: uuid
        taskStatus:
          $ref: "#/components/schemas/TaskStatus"
        override:
          type: boolean
          description: True when this decision reversed a previous one (a FOUNDER overriding a lead).

    ManualScoreRequest:
      type: object
      required:
        - grade
      properties:
        grade:
          $ref: "#/components/schemas/ManualGrade"

    NumericScoreRequest:
      type: object
      required:
        - value
      properties:
        value:
          type: number

    TaskScore:
      type: object
      required:
        - taskInstanceId
        - itemId
        - reviewerUserId
        - awardedPoints
      properties:
        taskInstanceId:
          type: string
          format: uuid
        itemId:
          type: string
          format: uuid
        reviewerUserId:
          type: string
          format: uuid
        grade:
          oneOf:
            - $ref: "#/components/schemas/ManualGrade"
            - type: "null"
        numericValue:
          type: [number, "null"]
        awardedPoints:
          type: integer
          description: Computed recommendation input; the system never computes pay.

    CreateNumericBandRequest:
[...]
